@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu/>
</div>

<div class="main">
	<div class="top-row px-4 auth">
		<LoginDisplay/>
		<a href="https://puglisij.com/joe/saberin-success-board.xlsx" target="_blank">Project Kanban</a>
		<a href="https://puglisij.com/joe/Joseph_Puglisi_Resume.pdf" target="_blank">Resume</a>
	</div>

	<div class="content px-4">
		@Body
	</div>
</div>