
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = none
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

# ReSharper properties
resharper_allow_comment_after_lbrace = true
resharper_csharp_use_indent_from_vs = false
resharper_empty_block_style = together
resharper_prefer_separate_deconstructed_variables_declaration = true
