<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					@if (!context.User.Identity.IsAuthenticated) {
						<RedirectToLogin/>
					}
					else {
						<p>Not Authorized. What are you doing?!</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Not Found.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>